#hero{
    background-image: url("/photos/cover_photo_agua_pura_punto_com.jpg");
    /* background-size: 100%;
    height: 1000px; */
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
    position: relative;
}

#heroText{
    font-family: superDes;
    color: red;
    font-size: calc(1rem + 10vw);
    text-align: center;
    margin: 0;
    border-radius: 20px;
    background: white;
    width: 70%;
    margin-left: 15%;
}

#description{
    text-align: center;
    color: red;
    font-size: calc(0.25rem + 1.75vw);
    font-weight: bold;
    border-radius: 20px;
    background: white;
    width: 50%;
    margin-left: 25%;
}

#heroTextGroup{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#heroLogo{
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 35%;
    right: 0;
    height: auto;
    width: 35%;
}

#upcomingShowBanner>h1{
    font-family: superDes;
    text-align: center;
    margin: 0;
    padding: 20px;
    
}

#upcomingShowBanner{
    background-color: goldenrod;
}

#subHero{
    display: grid;
    grid-template-columns: 60% 40%;
}
#hireHeaderGroup{
    text-align: center;
    font-family: superDes;
    margin-top: 40px;
}
#hireHeaderGroup>h1{
    display: table;
    margin: 0px auto 0px auto;
    padding: 10px;
    background-color: red;
    border-radius: 9px;
    font-size: 40px;
}
#calendarWidget{
    margin: 5px;
    grid-row-start: span 2;
}

#img2{
    grid-row-start: span 3;
}
#img2>img{
    border-radius: 15px;
}

#photoGroup>img{
    width: 100%;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 body
 {
   margin: 0;
   padding: 0;
   
   /* make it look decent enough */
   font-family: "Avenir Next", "Avenir", sans-serif;
   
   overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
 }
 #bodyWrapper{
    overflow-x: hidden;
 }
 
 a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 a:hover
 {
   color: white;
   background: green;
 }
 
 #menuToggle
 {
   display: block;
   position: absolute;
   top: 50px;
   right: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
   background-color: goldenrod;
   padding: 15px;
   border-radius: 10px;
 }
 
 #menuToggle input
 {
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #000000;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   opacity: 1;
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 0;
   padding: 50px;
   padding-top: 125px;
   right: -100px;
   
   background: green;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   border-radius: 0 0 0 30px;
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
   font-weight: bold;
 }
 
 /*
  * And let's fade it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: scale(1.0, 1.0);
   opacity: 1;
 }

#formWrapper{
    background-color: lightgray;
    padding: 20px;
    margin: auto;
}






@font-face{
    font-family: superDes;
    src: url(Super\ Dessert.ttf);
}

html{
    background-color: #005d00;
    overflow-x: hidden;
}
body{
    margin: 0;
    position: relative;
}
p{
    margin: 0;
}


/* THESE ARE FROM GOOGLE */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }



/* THESE ARE FROM FORMSPREE */
/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}


#donate:hover{
    color:blue;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
